@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
body {
  font-family: 'Poppins', sans-serif;
  background: rgb(212, 212, 212)
    url('https://static4.depositphotos.com/1016929/320/i/950/depositphotos_3202168-stock-photo-money-background.jpg');
  justify-content: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

h1{
  background: rgb(1, 42, 3);
  margin: 45px;
  font-weight: bold;
  font-size: 50px;
}
span {
  color: rgba(17, 131, 2, 0.76);
  text-shadow: rgb(0, 0, 0);
}

.box {
  display: flex;
  flex-direction: column;
}

.container {
  background: #fff;
  border-color: black;
  box-shadow: 100em;
}
